<script src="{{ 'slider.js' | asset_url }}" defer="defer"></script>


{%- if  section.blocks.size > 0 and section.settings.show_announcement_bar -%}
  <div class="announcement-bar swiper-container">
    <div class=" messages swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="message swiper-slide {{section.settings.content_alignment}} ">{{block.settings.message}}</div>
      {%- endfor -%}
    </div>
    <div class=" swiper-button swiper-button-prev"></div>
    <div class=" swiper-button swiper-button-next"></div>
  </div>




  <style>
    . announcement-bar{
      background:{{section.settings.colorBackground}};
      position: relative;
      overflow: hidden;
    }
    . announcement-bar . message{
      text-align:center;
      color:{{section.settings.colorText}};
      padding:0 7%;
    }
    . announcement-bar .swiper-button-next:after, . announcement-bar .swiper-container-rtl .swiper-button-prev:after,
    . announcement-bar .swiper-button-prev:after, . announcement-bar .swiper-container-rtl .swiper-button-next:after{
      font-size: 15px;
      color:{{section.settings.colorText}};
    }
    .swiper-slide .center{
      text-align:center;
    }
    .swiper-slide .left{
      text-align:left;
    }
    .swiper-slide .right{
      text-align:rightt;
    }
    {%- if  section.blocks.size < 2 %}
    . announcement-bar . swiper-button{display:none!important;}
    {%- endif -%}
  </style>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "label": "Show"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay"
    },
    {
      "type": "text",
      "id": "delay",
      "label": "Delay between transitions (in ms)",
      "default": "5000"
    },
    {
      "type": "color",
      "id": "colorBackground",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "colorText",
      "label": "Text color",
      "default": "#000"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.rich-text.settings.content_alignment.label"
    }
  ],"blocks": [
    {
      "type": "slide",
      "name": "t:sections.slideshow.blocks.slide.name",
      "limit": 5,
      "settings": [

       
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "label": "t:sections.slideshow.blocks.slide.settings.secondary_style.label",
          "default": false
        },
                {
          "id": "message",
          "type": "textarea",
          "label": "Announcements"
        },
   
        {
          "type": "text",
          "id": "question",
          "label": "Description",
          "default": "Your Review"
        },

        {
          "type": "richtext",
          "id": "answer",
          "label": "Name",
          "default": "<p>customer name</p>"
        },
        {
          "type": "image_picker",
          "id": "why-img",
          "label": "Why Images"
        },
        {
          "type": "checkbox",
          "id": "show_text_box",
          "label": "t:sections.slideshow.blocks.slide.settings.show_text_box.label",
          "default": true
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_1.label"
            },
            {
              "value": "center",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_2.label"
            },
            {
              "value": "right",
              "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.option_3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.slideshow.blocks.slide.settings.text_alignment.label"
        }


      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.slideshow.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "slide"
        }
      ]
    }
  ]
}

{% endschema %}